@font-face {
  font-family: "Nabla";
  src: local("Nabla"),
  url("./fonts/Nabla/Nabla-Regular.ttf") format("truetype"); 
  }

.App {
  text-align: center;
}
.Nav {
  display: flex;
  flex-direction: row;
  
}
.wrapper {
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar content"
  "sidebar content"
  "footer footer";
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 250px 2fr;
}

.header {
  grid-area: header;
  border: 1px solid yellow;
  background-color: black;
  color: whitesmoke;
  
}
.logo{
  display: flex;
  flex-direction: row;
  font-family: Nabla;
  margin-left: 100px;
}
.sidebar {
  grid-area: sidebar;
  border: 1px solid yellow;
  background-color: black;
  color: whitesmoke;
}
.content {
  grid-area: content;
  border: 1px solid yellow;
  background-color: black;
  color: whitesmoke;
}
.footer{
  grid-area: footer;
  border: 1px solid yellow;
  background-color: black;
  color: whitesmoke;
}
