@font-face {
  font-family: "Nabla";
  src: local("Nabla"),
  url("./fonts/Nabla/Nabla-Regular.ttf") format("truetype"); 
  }
  @font-face {
    font-family: "SecularOne";
    src: local("SecularOne"),
    url("./fonts/Secular_One/SecularOne-Regular.ttf") format("truetype"); 
    }

.App {
  text-align: center;
  background-color: rgba(7, 22, 36, .5);
}
body{
  color: rgb(231, 226, 200)
  
}
.wrapper {
  display: grid;
  grid-template-areas:
  "header nav"
  "content content"
  "footer footer";
  grid-template-rows: 100px 5fr 100px;
  background-color:rgba(7, 22, 36, .8);
  grid-template-columns: 100%;
}
.Nav {
  grid-template-areas: nav;
  margin-top: 20px;
}
.header {
  grid-area: header;
  border-bottom: 1px solid black;
  color: rgb(231, 226, 200);
  background-color: rgb(7, 22, 36);
  grid-template-columns: 50% 50%;
  
}
.logo{
  display: flex;
  flex-direction: row;
  font-family: Nabla;
  margin-left: 100px;
  margin-top: 20px;
  cursor: pointer;
}

.content {
  grid-area: content;
  /* border: 1px solid  rgb(231, 226, 200); */
  width: 75%;
  background-color: rgb(7, 22, 36);
}
.footer{
  grid-area: footer;
  border-top: 1px solid black;
  background-color: rgb(7, 22, 36);
}

a {
  text-decoration: none;
}
h2 {
  font-family:SecularOne;
}
.AnimeCard {
  font-family:SecularOne;
}
.card{
  display: flexbox;
  align-items: center;
  background-color: rgb(7, 22, 36);
  width: 17rem;
}