@font-face {
  font-family: "Nabla";
  src: local("Nabla"),
  url("./fonts/Nabla/Nabla-Regular.ttf") format("truetype"); 
  }

.App {
  text-align: center;
  background-color: black;
}
body{
  color: rgb(231, 226, 200)
  
}
.Nav {
  display: flex;
  flex-direction: row;
  
}
.wrapper {
  display: grid;
  grid-template-areas:
  "header header"
  "content content"
  "footer footer";
  grid-template-rows: 1fr 13fr 1fr;
  background-color: black;
  /* grid-template-columns: 250px 1fr; */
}

.header {
  grid-area: header;
  border: 1px solid yellow;
  color: whitesmoke;
  background-color: rgb(7, 22, 36);
  /* width: 100%; */
  
}
.logo{
  display: flex;
  flex-direction: row;
  font-family: Nabla;
  margin-left: 100px;
}

.content {
  grid-area: content;
  border: 1px solid yellow;
  width: 75%;
  background-color: rgb(7, 22, 36);
}
.footer{
  grid-area: footer;
  border: 1px solid yellow;
  background-color: rgb(7, 22, 36);
}
